body{
    background-image: url(../img/bg5.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;

    font-family: 'Open Sans','helvetica',arial,sans-serif;
    font-weight: 300;
    color: #62686f;
}

.container{
    width: 960px;
    margin: 0 auto;
}

.main-header{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;

    text-align: center;
    margin-top: 12%;
    padding: 1px;
}

header h1{
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 0 1px rgba(0,0,0,0.3);

    font-weight: 300;
    font-size: 50px;
    color: white;
    font-family: 'Open Sans','helvetica',arial,sans-serif;
}

.main-header__avatar{
    display:block;
    margin: 0 auto;
    margin-top: -70px;
    margin-bottom: 10px;
    border: 3px solid white;

    border-radius: 999px;
    box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-weight: 300;
}

.nav__item{
    display: inline-block;
}

.main-nav{
    text-align: center;
    background-color: #333;
}

.main-nav ul li {
    margin: 15px 10px;
}

.main-nav ul{
    margin-top: 0px;
    margin-bottom: 0px;
}

.main-nav ul li a {
    color: #fff;
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.main-nav ul li a:hover {
    text-decoration: underline;
}

.info-section {
    background-color: #fff;
    padding: 1px;
}


